<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand text-white" href="#">Learning</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item active">
          <a class="nav-link text-white" routerLink="/employee">Emp-Edureka </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/dependent-dropdown">dependent-dropdown</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/emp-crud">Emp Crud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/role-based-login">Role-Based-Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" routerLink="/pagination">Pagination</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/advance-directive">advance-directive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/ngClass-ngStyle">ngClass-ngStyle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/ng-if">ngIf-Directive</a>
          </li>
        
      </ul>
    </div>
  </nav>